@use "./variables";

.country-details-container {
	padding-top: 5rem;
	height: 100%;

	span {
		display: inline-block;
	}

	span + span {
		margin-left: 0.5rem;
	}

	li {
		list-style: none;
		line-height: 2;
	}
}
.country-detail-img {
	width: 10%;
}
.country-information {
	width: 85%;
	h2 {
		margin: 1rem 0;
		@include text-bold;
	}
	.right-side {
		margin: 2rem 0;
	}
}

.border-countries-container {
	.title {
		margin-bottom: 1rem;
	}
	.country-borders {
		span + span {
			margin: 0;
			margin-right: 0.3rem;
			margin-bottom: 0.5rem;
		}
		span {
			display: inline-block;
			margin-right: 0.3rem;
			margin-bottom: 0.5rem;
			padding: 0 0.5rem;
		}
	}
}

.back-home-btn {
	margin: 2rem auto 3rem;
	position: relative;

	.icon {
		position: absolute;
		top: 8px;
		left: 2px;
	}

	input {
		padding: 0.5rem 1rem 0.5rem 1.5rem;
		font-size: 1rem;
		border: none;
	}
}

@media screen and (min-width: 900px) {
	.country-details-container {
		height: 100vh;
		overflow: hidden;
	}
	.country-information-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.country-information {
		margin-left: 2rem;
	}

	.country-information-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 1.7rem;
		}

		.right-side {
			margin: 0;
		}
	}

	.border-countries-container {
		display: flex;
		.title {
			width: 30%;
			margin: 0;
		}
		.country-borders {
			width: 70%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width: 1300px) {
	.country-information {
		margin-left: 7rem;
	}
}
