@use "./variables";

.home-container {
	background-color: $light-mode-background-color;
	padding: 10rem 0 3rem 0;
}
.dark-mode {
	background: $dark-mode-background-color;
	.country-info-wrapper {
		box-shadow: none;
		background: $dark-mode-content-color;
		color: $dark-mode-text-color;
	}
}
.countries-container {
	display: grid;
	grid-gap: 3rem;
}

.country-info-wrapper {
	background: $dark-mode-text-color;
	border-radius: 5px;
	-webkit-box-shadow: -1px 2px 5px 0px rgba(191, 191, 191, 1);
	-moz-box-shadow: -1px 2px 5px 0px rgba(191, 191, 191, 1);
	box-shadow: -1px 2px 5px 0px rgba(191, 191, 191, 1);

	a {
		text-decoration: none;
		color: inherit;
	}
	.country-img {
		height: 220px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.country-info {
		padding: 0 1rem 2.5rem;
		h2 {
			margin: 1rem 0;
		}
		ul {
			list-style: none;
		}
	}
}

@media screen and (min-width: 700px) {
	.countries-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.country-info-wrapper {
		.country-info {
			h2 {
				font-size: 1.1rem;
			}
		}
		.country-img {
			height: 150px;
		}
	}
}

@media screen and (min-width: 900px) {
	.countries-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1100px) {
	.countries-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
