.home-container {
	padding: 3rem 0;
}
.dark {
	background: blue;
}
.countries-container {
	display: grid;
	grid-gap: 3rem;
}

.country-info-wrapper {
	border: 1px solid black;
	.country-img {
		height: 220px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.country-info {
		ul {
			padding: 2rem;
		}
	}
}

@media screen and (min-width: 700px) {
	.countries-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.country-info-wrapper {
		.country-img {
			height: 150px;
		}
	}
}

@media screen and (min-width: 900px) {
	.countries-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1100px) {
	.countries-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
